<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="VelibSoapIWS.VelibService">
        <endpoint address="" binding="basicHttpBinding" contract="VelibSoapIWS.IVelibService" name = "service1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="VelibSoapIWS.Monitor">
        <endpoint address="" binding="basicHttpBinding" contract="VelibSoapIWS.IMonitor" name = "monitor">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SubscriptionBehavior" name="VelibSoapIWS.SubStationService">
        <endpoint address="" binding="wsDualHttpBinding" contract="VelibSoapIWS.ISubStationService" name = "subscription">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8735/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        <behavior name="SubscriptionBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>